<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
	<classPathEntry location="mysql-connector-java-5.1.13-bin.jar" />

	<context id="MySqlTables" targetRuntime="MyBatis3">

		<commentGenerator>
			<property name="suppressAllComments" value="true" />
		</commentGenerator>

		<jdbcConnection driverClass="com.mysql.jdbc.Driver"
			connectionURL="jdbc:mysql://localhost:3306/smm" userId="root"
			password="123456">
		</jdbcConnection>
		<javaTypeResolver>
			<property name="forceBigDecimals" value="false" />
		</javaTypeResolver>

		<javaModelGenerator targetPackage="com.smm.entity"
			targetProject="../">
			<property name="enableSubPackages" value="false" />
			<property name="trimStrings" value="true" />
		</javaModelGenerator>

		<sqlMapGenerator targetPackage="com.smm.dao"
			targetProject="../">
			<property name="enableSubPackages" value="true" />
		</sqlMapGenerator>

		<javaClientGenerator type="XMLMAPPER"
			targetPackage="com.smm.dao" targetProject="../">
			<property name="enableSubPackages" value="true" />
		</javaClientGenerator>
		<table tableName="TblDept" domainObjectName="TblDept"></table>
		<table tableName="TblEmp" domainObjectName="TblEmp"></table>
		<table tableName="vstucls" domainObjectName="Vstucls"></table>
	</context>
</generatorConfiguration>
